#buttons {
    margin-bottom: 10px;
    margin-top: 10px;
}

.brandbox h1 {
    font-weight: bold;
    margin-bottom: 0;
}

.brandbox h1:hover {
    cursor: pointer;
}

.brandbox h2 {
    font-style: italic;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.brandbox h3 {
    font-size: 16px;
}

.aboutbox {
    margin-top: 20px;
}

.notification {
    padding-top: 10px;
    padding-bottom: 10px;
}


#cleartext pre {
    padding: 0;
    border: none;
    margin: 0;
}

.remainingtime {
    margin-bottom: 5px;
}

pre.precontent {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    background: none;
    color: none;
}

.scomment {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 13px;
}

.scomment .scomment {
    margin-left: 30px;
    margin-right: -10px;
    border-right: none;
    border-left: 3px solid #bbb;
}

.scomment button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.commentmeta {
    padding: 5px;
    line-height: 18px;
    font-size: 12px;
    margin: -10px -10px 10px -10px;
}

img.vizhash {
    margin-right: 5px;
}

.nickname {
    font-weight: bold;
}

.commentdate {
    font-style: italic;
}

hr.cline {
    margin-top: 5px;
    margin-bottom: 0;
    border-top: 1px dashed #ccc;
}

.cadd {
    background: #f3f3f3;
}

button.cadd-btn {
    margin: 0;
}

.reply {
    margin-top: 10px;
}
textarea.materialize-textarea {
    min-height: 14rem;
}

.no-padding {
    padding:0;
}
button:focus {
    outline: none;
    background-color: inherit;
}